*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo {
    width: 116px;
    height: auto;
}